body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
}

ul {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  width: 250px;
}

.card img {
  width: 100%;
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.428);
  display: none;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.info-county {
  background-color: white;
  padding: 10px;
}

.visible {
  display: block;
}

.closed, .card {
  cursor: pointer;
}